<div class="row">
<div class="col-11 text-end">
  <i (click)="Add()" style="font-size: 10px;" class="bi bi-plus-square-fill"></i>
</div>
</div>
<div class="row">
    <div class="col-11 mx-auto">
        <table class="table table-hover">
            <thead>
              <tr>
                <th style="display: none;" scope="col">TaskId</th>
                <th scope="col">Task Description</th>
                <th scope="col">Created Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Is Completed</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Creator</th>
                <th scope="col">Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tasks of Task,let i=index">
                <td style="display: none;" >{{Task[i].taskId}}</td>
                <td>{{Task[i].taskDescription}}</td>
                <td>{{Task[i].createdDate}}</td>
                <td>{{Task[i].dueDate}}</td>
                <td>{{Task[i].isCompleted}}</td>
                <td>{{Task[i].assignedTo}}</td>
                <td>{{Task[i].creator}}</td>
                <td>{{Task[i].status}}</td>
                <td><i (click)="Add(Task[i].taskId)" class="bi bi-pen"></i></td>
              </tr>
        
        
            </tbody>
          </table>
    </div>
</div>
<div class="row">

  <div *ngFor="let page of PageNumbers,let i=index" class="col">
    <div class="text-center">

    
    <button (click)="getResponse(page)" class="btn btn-secondary mx-1">{{page}}</button>
  </div>
</div>

</div>

